<!DOCTYPE html >
<html lang="en">

<script src="js/fetch.js"></script>


<head>
    <title>JustWords</title>
    <link type="text/css" rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1>JustWords</h1>
    <p>This is where you can make a post and view the three most recent posts.</p>
    
    <label for:"user">Your name:</label><br>
    <input type ="text" min="1" id="user" name="user" onerror="displayError()"><br>
    <label for:"content">Your post:</label><br>
    <input type ="text" min="1" id="content" name="content" onerror="displayError()"><br>
    <input type="button" id="showposts" value="Post" onclick="sendPostRequest();window.location.reload()"></input>


    <br><br>
    <table>
        <tr>
            <th> Posted By: </th>
            <th> Post: </th>
        </tr>
    <ul>
        <% data.posts.forEach((item)=>{%>
            <table>
                <tr>
                    <th> <%=item.user%> </th>
                    <th> <%=item.content%></th>
                </tr>
        <%});%>
    </ul>
    <table>
</body>
 
</html>