/* by element */
h1 {
    font-family: cursive;
    font-style: italic;
}

p {
    font-size: larger;
    font-weight: 700;
}

p1 {
    font-weight: 400;
}

body {
     background-color: lightskyblue;
     color: darkblue;
 }

table, th, td {
    column-width: 2.5in;
    border-width: medium;
    border: solid 1px midnightblue;
    border-collapse: collapse;
}

/* by id */
#post {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
#postUser {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
